* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.emoji-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95vw;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the emoji element */
.emoji-container p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 10px;
}


.emoji-container p:hover {
    background-color: lightgrey;
}

.emoji-container p span:first-child {
    font-size: 1rem;
}


.emoji-container span:last-child {
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    color: #888888;
}